@charset "utf-8";

::selection {
    background-color: transparent;
}

html {
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

/* ----- [ ナビゲーションメニュー ----- */
    /* ----- [[ ボタン ----- */
    #menu-btn {
        height: 60px;
        width: 60px;
    
        top: 20px;
        left: 20px;
    }

    #menu-btn:hover {
        transform: scale(1.1);
    }

    #menu-btn span {
        width: 43px;
        background: white;
    }

    #menu-btn span::before,
    #menu-btn span::after {
        background: white;
        color: white;
    }
        /* ----- [[[ ボタンをチェックしたとき ----- */
        #menu-btn-check:checked ~ #menu-btn span::before {
            background: -webkit-linear-gradient(90deg, white 50%, transparent 50%); /* Safari */
            background: linear-gradient(90deg, white 50%, transparent 50%);
        }
        /* ----- ボタンをチェックしたとき ]]] ----- */
    /* ----- ボタン ]] ----- */
    /* ----- [[ ナビゲーションメニュー本体 ----- */
    nav {
        -webkit-backdrop-filter: blur(20px); /* Safari */
        backdrop-filter: blur(20px);
    }
    /* ----- ナビゲーションメニュー本体 ]] ----- */
/* ----- ナビゲーションメニュー ] ----- */

/* ----- [ メイン ----- */
main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

main div {
    margin: 0 0 2% 20%;
}

main div h1 { /* "DREAM JOURNAL" */
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 12vw;
    line-height: 12vw;
    color: transparent;
    -webkit-text-stroke: 1px black;
    margin-bottom: 0;
}

main div .span-container { /* "夢" , "日" , "記"が入ってる */
    font-size: 5vw;
    background-color: black;
    color: white;
    letter-spacing: -0.1em;
    padding: 2px 45px 2px 40px;
}

@media (orientation: portrait) {
    main div {
        transform: rotate(90deg);
        margin: 0;
    }

    main div h1 { /* "DREAM JOURNAL" */
        font-size: 20vw;
        line-height: 20vw;
    }

    main div .span-container span { /* "夢" , "日" , "記" */
        display: inline-block;
        transform: rotate(270deg);
    }
}
/* ----- メイン ] ----- */

footer {
    background: none;
    -webkit-backdrop-filter: blur(20px); /* Safari */
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
    right: 0;
}